# Terraform state files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Sensitive variable files
terraform.tfvars
*.auto.tfvars

# Crash log files
crash.log
crash.*.log

# Plan files
*.tfplan
