.league-button:hover {
    cursor: pointer;
    background-color: #e6dc38 !important;
}

.clicked {
    background-color: #81ff94 !important;
}

.clicked:hover {
    background-color: #64ffcf !important;
}